h1,
h2,
p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
}

body {
    background-image: url("/assets/Group 20.svg");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 25px;
    padding-bottom: 10px;
    border: solid black 2px;
}

.card1 {
    display: flex;
    background-color: #e5e5e5;
    border-radius: 25px;
    border: solid black 2px;
    text-align: left;
    transition: transform 0.3s;
    z-index: 4;
    position: relative;
    margin-bottom: 45px;
}

.card1:hover {
    transform: translateY(-20px) scale(1.03);
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.212);
}

.card2 {
    background-color: #bcbcbc;
    position: absolute;
    z-index: 3;
    transform: translateY(15px);
}

.card3 {
    background-color: #9f9f9f;
    position: absolute;
    z-index: 2;
    transform: translateY(30px);
}

.card4 {
    background-color: #828080;
    position: absolute;
    z-index: 1;
    transform: translateY(45px);
}

.cardborder {
    width: 48vw;
    position: relative;
}

.cardinfo {
    margin-top: 8px;
    margin-left: 20px;
}

.profpic {
    margin-right: 50px;
    margin-left: 35px;
    margin-top: 50px;
    margin-bottom: 40px;
}


.title {
    margin-bottom: 50px;
    margin-top: 35px;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: clamp(1.8rem, 3.5rem, 3.5vw);
}

h2 {
    margin-top: 5px;
    font-size: clamp(1.2rem, 2.2rem, 2.6vw);
}

p {
    font-size: clamp(1rem, 1.6rem, 1.8vw);
}

img {
    min-width: 340px;
}

.contacts {
    margin-bottom: 45px;
}

.address {
    margin-bottom: 30px;
}


@media only screen and (max-width: 1800px) {
    img {
        min-width: 320px;
    }

    .cardinfo {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1600px) {
    img {
        min-width: 275px;
    }

    .title {
        margin-bottom: 20px;
    }

    .cardinfo {
        margin-left: 20px;
        margin-top: 10px;
    }
    
    .profpic {
        margin-right: 30px;
    }

    .contacts {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1400px) {
    img {
        min-width: 250px;
    }

    .address {
        margin-bottom: 0px;
    }

    .cardinfo {
        margin-top: 12px;
    }

    .profpic {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1250px) {
    img {
        min-width: 220px;
    }

    .title {
        margin-bottom: 10px;
    }

    .contacts {
        margin-bottom: 10px;
    }

    .profpic {
        margin-right: 20px;
    }

    .cardinfo {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1050px) {
    .card1 {
        flex-direction: column;
        text-align: center;
    }

    .profpic {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .address {
        margin-bottom: 30px;
    }

    .cardinfo {
        margin-right: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 820px) {
    img {
        min-width: 170px;
    }

    .card1 {
        margin-top: 0vh;
    }

    .profpic {
        margin-top: 40px;
    }

}

@media only screen and (max-width: 480px) {

    .profpic {
        margin-top: 30px;
        margin-bottom: 0px;
    }
    
    img {
        min-width: 120px;
    }
    
    .title {
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .contacts {
        margin-bottom: 15px;
    }

    .cardborder {
        width: 60vw;
        position: relative;
    }

}

@media only screen and (max-width: 360px) {
    .cardborder {
        width: 70vw;
    }
}
