h1,
h2,
p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
}

body {
    background-image: url("assets/bg.svg");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.card {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 25px;
    padding-bottom: 10px;
    border: solid black 2px;
}

.back {
    position: absolute;
}

.container {
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card1 {
    display: flex;
    background-color: #e5e5e5;
    border-radius: 25px;
    border: solid black 2px;
    text-align: left;
    transition: transform 0.3s;
    z-index: 4;
    padding: 50px;
    position: relative;
}

.card1:hover {
    transform: translateY(-20px) scale(1.03);
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.212);
}

.card2 {
    background-color: #bcbcbc;
    z-index: 3;
    transform: translateY(15px);
}

.card3 {
    background-color: #9f9f9f;
    z-index: 2;
    transform: translateY(30px);
}

.card4 {
    background-color: #828080;
    z-index: 1;
    transform: translateY(45px);
}

.cardborder {
    position: relative;
    margin-bottom: 80px;
}

.cardinfo {
    margin-left: 2vh;
}

.title {
    margin-bottom: 2vh;
}

h1 {
    font-size: clamp(1.8rem, 3.5rem, 3.5vw);
}

h2 {
    margin-top: 5px;
    font-size: clamp(1.2rem, 2.2rem, 2.6vw);
}

p {
    font-size: clamp(1.05rem, 1.6rem, 1.8vw);
}

img {
    width: 15vw;
    min-width: 180px;
    display: block;
}

.contacts {
    margin-bottom: 2vh;
}


@media only screen and (max-width: 600px) {
    .card1 {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .cardinfo {
        margin: 0;
    }
    
    img {
        min-width: 120px;
    }

    .title {
        margin-bottom: 15px;
        margin-top: 10px;
    }

}